.menu {
  max-width: 350px;
}

.error {
  max-width: 350px;
}

.error {
  max-width: 350px;
}

.pointer {
  cursor: pointer;
}

.whith-main {
  width: 40%;
}

.whith-input {
  width: 30%;
}

.whith-input-fn {
  width: 12%;
}

.ocultar {
  display: none;
}
